* {
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
}

body {
    color: rgb(0, 0, 0);
    font-size: 16px/24px;
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

ul li {
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    }

button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}

main {
    width: 1170px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 10px;
}

.btn-primary {
    padding: 14px 26px;
    background-color:#EE8313;
    font-weight: 500;
}
.btn-primary:hover {
    background-color: rgb(184, 241, 189)
}

.btn-secondary {
    padding: 12px 24px;
    border: 1px solid #253ecc;
    background-color: aquamarine;
    color: rgb(18, 155, 155);
    font-weight: 500;
}

/* Header */

#header-section {
    padding: 25px 0px 40px;
}

.header {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.heade-logo {
    width: 48px;
    height: 48px;
}

.header-link {
    display:block;
    margin-right: 30px;
    margin-left: 20px;
    color: #EE8313;
}

.nav-main {
/*    margin-left: auto;*/
}

.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 145px;
}

.nav-main__list li a:hover {
    color: #EE8313;
}

/* Banner */

.banner-section-container {
    display: flex;
    background: url(../img/iPhone.png) no-repeat scroll 541px -59px transparent;
    background-size: 60% 120%;
    width: 100%;
}

#banner-section {
    position: relative;
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 60px;
}

.banner {
    width: 600px;
}

.banner__header {
    font-size: 40px;
    line-height: 50px;
}

.banner__text {
    margin: 32px 48px;
    color: blue;
    font-size: 24px;
    line-height: 34px;
    margin-left: auto;
}

.banner-links-wrap {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 40px;
}

.banner-features__text {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px; 
}

.banner-features__text:first-child {
    margin-right: 40px;
}

.banner-features__text__strong {
    margin-right: 22px;
    font-size: 34px;
    font-weight: 600;
    line-height: 52px;
}

/* ROW-SECTION */

.header-section-container {
    display: flex;
}

.row-section-container {
    display: flex;
    justify-content: right;
    background: url('../img/iPhone2.png') no-repeat scroll 0 -12px transparent;
    background-size: 30%;
}

.head-text {
    font-weight: 400;
    font-size: 24px;
    margin: 40px 0px 30px 0px;
}

.head-text {
    padding-left: 24px;
}

.row li {
    font-weight: 300;
    font-size: 16px;
}

ul.first-text {
    margin-top: 40px;
}

ul.first-text li {
    padding: 0 0px 40px 24px;
    position: relative;
}

ul.first-text li p {
    position: relative;
    top: -14px;
}

.first-text li#v1 {
    list-style-image: url('../img/v1.svg');
}

.first-text li#v2 {
    list-style-image: url('../img/v2.svg');
}

.first-text li#v3 {
    list-style-image: url('../img/v3.svg');
}

.first-text li#v4 {
    list-style-image: url('../img/v4.svg');
}

/*.first-text li:before {
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: -61px;
}*/

/*.first-text li#v1:before {
    content: url('../img/v1.svg');
}*/

/* Partner-section */

.partner-section-container {
    display: flex;
    justify-content: space-between;
}

.text {
    font-weight: 400;
    font-size: 24px;
    margin: 100px 0 0 80px;
    text-align: left;
    width: 100%;
}

.text__paragraf {
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    line-height: 25px;
}

.flex-text {
    text-align: center;
    margin: 130px auto 0px auto;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
}

.flex-text__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.flex-text__list li {
    position: relative;
}

.flex-text__list li:before {
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: -61px;
}

#r1:before {
    content: url('../img/r1.svg');
}

#r2:before {
    content: url('../img/r2.svg');
}

#r3:before {
    content: url('../img/r3.svg');
}

#r4:before {
    content: url('../img/r4.svg');
}

#r5:before {
    content: url('../img/r5.svg');
}

.img-responsive {
    position: relative;
    bottom: 100px;
    right: 110px;
}


.flex-text-list__color:hover {
    color: #253ecc;
}

.btn-partner {
    margin-top: 150px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
}

.btn-partner a.partne-btn {
    position: absolute;
}

/* REVIEWS-SECTION */

.reviews-section {
    display: flex;
    width: 100%;
    margin: 100px 0 0;
}

.reviews-section-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.text-reviews {
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
}

.paragraf-reviews {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 25px;
}

.wrap {
    position: relative;
    top: 50px;
    right: 0px;
}

.wrap p {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
}

/* Footer */

footer {
    display: flex;
    width: 100%;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 100px 0 0 0;
}

.footer-logo__img {
    position: relative;
}

.footer-link {
    display:block;
    color: #EE8313;
    margin-right: 30px;
    margin-left: 20px;
}

.btn-primary {
    
    background-color:#EE8313;
    font-weight: 500;
}
.btn-primary:hover {
    background-color: rgb(184, 241, 189)
}

.footer-btn {
    white-space: nowrap;
}

.footer .nav-main__item a {
    white-space: nowrap;
}